#about {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background: #ececec;

  @media (min-width: 970px) {
    padding-top: 70px;
    padding-bottom: 90px;
  }

  .shape {
    margin-bottom: 35px;

    @media (min-width: 750px) {
      margin-bottom: 60px;
    }
  }

  h3 {
    margin-bottom: 55px;
    text-transform: uppercase;
    color: #5c2800;
    font-family: 'PT Serif', serif;
    font-size: 35px;

    @media (min-width: 970px) {
      margin-bottom: 100px;
    }
  }

  p {
    font-family: Arial;
    color: #2b2b2b;
    font-size: 17px;
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;

    @media (min-width: 750px) {
      width: 585px;
      padding-left: 0;
      padding-right: 0;
      font-size: 18px;
    }
  }

  .video_link {
    color: #5c2800;
    font-family: 'PT Serif', serif;
    border-bottom: 1px solid;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
  }
}
