#interior {
  width: 100%;
  padding-bottom: 90px;
  background: #ededed;
  overflow: hidden;

  @media (min-width: 750px) {
    padding-bottom: 0;
    background: none;
  }

  .slick-prev {
    left: 0;
    z-index: 2;
    width: 56px;
    height: 62px;
    background: url('images/left_arr_interior.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-next {
    right: 0;
    width: 56px;
    height: 62px;
    background: url('images/right_arr_interior.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-dots {
    bottom: -70px;

    @media (min-width: 750px) {
      bottom: 85px;
    }

    li {
      width: 22px;
      height: 22px;
      margin-left: 15px;
      margin-right: 15px;

      &.slick-active {
        button {
          width: 22px;
          height: 22px;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            background: white;
            border-radius: 50%;
            opacity: 1;
          }
        }
      }

      button {
        width: 22px;
        height: 22px;

        &::before {
          content: '';
          width: 22px;
          height: 22px;
          background: url('images/dot_interior.png') no-repeat center center;
          opacity: 1;
        }
      }
    }
  }

  .sl {
    .slide {
      position: relative;
      width: 100vw;
      //height: 360px;

      img {
        width: 100%;
      }
    }
  }
}
