#main {
  position: relative;

  picture {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      vertical-align: text-bottom;
    }
  }

  .bottom_link {
    position: absolute;
    bottom: 185px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 750px) {
      bottom: 50px;
    }
  }
}
