#menu_rest {
  background: #f9f9f9;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 140px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  h2 {
    text-transform: uppercase;
    color: #5c2800;
    font-family: 'PT Serif', serif;
    padding-bottom: 60px;
    font-size: 35px;
  }

  .sl_menu {
    .slide {
      position: relative;
      overflow: hidden;
      border-radius: 15px;

      img {
        width: 100%;
      }

      h3 {
        padding-top: 35px;
        padding-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        font-family: 'PT Serif', serif;
        color: #5c2800;
        font-size: 20px;
        bottom: 0;
        background: rgba(#fff, 0.5);
      }
    }
  }

  .slick-prev {
    left: 0;
    z-index: 2;
    width: 56px;
    height: 62px;
    background: url('images/left_arr_menu.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-next {
    right: 0;
    width: 56px;
    height: 62px;
    background: url('images/right_arr_menu.png') no-repeat center center;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: '';
    }
  }

  .slick-dots {
    bottom: -80px;

    @media (min-width: 970px) {
      bottom: -50px;
    }

    li {
      width: 22px;
      height: 22px;
      margin-left: 7px;
      margin-right: 7px;

      &.slick-active {
        button {
          width: 22px;
          height: 22px;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            background: #6d2400;
            border-radius: 50%;
            opacity: 1;
          }
        }
      }

      button {
        width: 22px;
        height: 22px;

        &::before {
          content: '';
          width: 22px;
          height: 22px;
          background: url('images/dot_interior.png') no-repeat center center;
          opacity: 1;
        }
      }
    }
  }
}
