#stocks {
  background: url('images/stock_bg.jpg') no-repeat center center;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 190px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;

  h2 {
    color: #fff;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-size: 40px;
    text-align: center;
    padding-bottom: 115px;
  }

  .sl_stocks {
    .slide {
      text-align: center;
      font-family: 'PT Serif', serif;

      h3 {
        color: #fff;
        font-size: 33px;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin-bottom: 30px;

        &::after {
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 160px;
          height: 2px;
          background: #fff;
          transform: translateX(-50%);
        }
      }

      p {
        font-size: 15px;
        line-height: 28px;
        color: #fff;
        width: 70%;
        margin: auto;

        @media (min-width: 970px) {
          width: 640px;
          font-size: 18px;
        }
      }
    }

    .slick-prev {
      left: 0;
      z-index: 2;
      width: 56px;
      height: 62px;
      background: url('images/left_arr_menu.png') no-repeat center center;
      opacity: 0.8;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
      }
    }

    .slick-next {
      right: 0;
      width: 56px;
      height: 62px;
      background: url('images/right_arr_menu.png') no-repeat center center;
      opacity: 0.8;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 1;
      }

      &::before {
        content: '';
      }
    }

    .slick-dots {
      bottom: -130px;

      @media (min-width: 750px) {
        bottom: -95px;
      }

      li {
        width: 22px;
        height: 22px;
        margin-left: 15px;
        margin-right: 15px;

        &.slick-active {
          button {
            width: 22px;
            height: 22px;

            &::before {
              content: '';
              width: 22px;
              height: 22px;
              background: white;
              border-radius: 50%;
              opacity: 1;
            }
          }
        }

        button {
          width: 22px;
          height: 22px;

          &::before {
            content: '';
            width: 22px;
            height: 22px;
            background: url('images/dot_interior.png') no-repeat center center;
            opacity: 1;
          }
        }
      }
    }
  }
}
