@import
  'sass/_susy.scss',
  'sections/reset.scss',
  'sections/mail';
$susy: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  gutter-position: outside,
);

$container: 1170px;
$container-float: 100%;

* {
  box-sizing: border-box;
}

body {
  @media (max-width: 480px) {
    width: 480px;
  }
}

.container-float {
  @include container($container-float);
}

.container {
  @include container($container);
}

.fancybox-skin {
  padding: 0 !important;
}

@import
  'sections/menu',
  'sections/fix_menu',
  'sections/main',
  'sections/about',
  'sections/interior',
  'sections/menu_rest',
  'sections/stocks',
  'sections/review',
  'sections/map',
  'sections/footer';
