section#about
  .container
    img(src="images/log.png").shape
    h3 О ресторане
    p Изысканность и гармоничная утонченность – слова, как нельзя лучше подходящие для описания ресторана «Kiku Matsuri». Современный дизайн и сдержанный японский минимализм создают уникальность интерьера.
    a(herf="#").video_link Посмотреть видео
