section#fix_menu.opened
  .container
    a(href="#top").anchor: img(src="images/logo_fix.png").logo
    nav
      a(href="#about").anchor О нас
      a(href="#interior").anchor Интерьер
      a(href="#menu").anchor Меню
      a(href="#stock").anchor Акции
      a(href="#review").anchor Отзывы
      a(href="#contact").anchor Контакты
    .social
      a(href="https://www.instagram.com/satgrouprest/" target="_blank"): img(src="images/inst.png").insta
      a(href="https://www.facebook.com/SAT-GROUP-Rest-1823563401189352/?hc_ref=SEARCH&fref=nf" target="_blank"): img(src="images/facebook.png").facebook
      a(href="mailto:info.satgroup.kz"): img(src="images/mail.png").mail
    .lang
      a(href="#") RU
      a(href="#") EN
      a(href="#") KZ
