section#fix_menu.opened
  .container
    a(href="#"): img(src="images/logo_fix.png").logo
    nav
      a(href="#").anchor О нас
      a(href="#").anchor Интерьер
      a(href="#").anchor Меню
      a(href="#").anchor Акции
      a(href="#").anchor Отзывы
      a(href="#").anchor Контакты
    .social
      a(href="#"): img(src="images/inst.png").insta
      a(href="#"): img(src="images/facebook.png").facebook
      a(href="#"): img(src="images/mail.png").mail
    .lang
      a(href="#") RU
      a(href="#") EN
      a(href="#") KZ
