section#footer
  .container
    p.text Мы искренне будем рады видеть Вас и надеемся, что каждое посещение нашего ресторана будет для Вас новым наслаждением и изысканным ритуалом.
    .adress
      p!="Астана, пр. Туран, 30<br> здание Fitness Palace"
      a(href="#").mail kikumatsuri@mail.ru
    .numbers
      .num!="+7 (7172) <b>56-77-33</b>"
      .num!="+7 775 <b>793-17-06</b>"
      .work РЕЖИМ РАБОТЫ: ежедневно с 12:00 до 01:00
a(href="http://satgroup.kz"): img(src="images/rest_but.png").all_rest

script(src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript")
script(src="libs/jquery/dist/jquery.min.js")
script(src!="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js")
script(src="libs/fancybox/source/jquery.fancybox.pack.js")
script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
script(src="bundle.js")
