section#interior
  a(name="interior")
  .sl
    .slide
      img(src="images/interior/1.jpg")
    .slide
      img(src="images/interior/2.jpg")
    .slide
      img(src="images/interior/3.jpg")
    .slide
      img(src="images/interior/4.jpg")
    .slide
      img(src="images/interior/5.jpg")
    .slide
      img(src="images/interior/6.jpg")
    .slide
      img(src="images/interior/7.jpg")
