section#main
  a(name="top")
  picture
    source(srcset="images/main_bg.jpg" media="(min-width: 1560px)")
    source(srcset="images/main_bg_desktop.jpg" media="(min-width: 1170px)")
    source(srcset="images/main_bg_tablet.jpg" media="(min-width: 970px)")
    source(srcset="images/main_bg_tabletvert.jpg" media="(min-width: 750px)")
    source(srcset="images/main_bg_mobile.jpg" media="(min-width: 1px)")
    img(srcset="images/main_bg.jpg")
  .container
    img(src="images/scroll.png").bottom_link
