section#menu_rest
  .container
    h2 Меню
    .sl_menu
      .slide
        img(src="images/menu_test.jpg")
        h3 Канадиан маки
      .slide
        img(src="images/menu_test.jpg")
        h3 Канадиан маки
