section#menu_rest
  a(name="menu")
  .container
    h2 Меню
    .sl_menu
      .slide
        img(src="images/dishes/1.jpg")
        h3 Бифу рамен
      .slide
        img(src="images/dishes/2.jpg")
        h3 Гютан ясай нимоно
      .slide
        img(src="images/dishes/3.jpg")
        h3 Данки
      .slide
        img(src="images/dishes/4.jpg")
        h3 Канадиан маки
      .slide
        img(src="images/dishes/5.jpg")
        h3 Кохицуджи но гриль
      .slide
        img(src="images/dishes/6.jpg")
        h3 Сифудо мисо сиру
      .slide
        img(src="images/dishes/7.jpg")
        h3 Сяке терияки
      .slide
        img(src="images/dishes/8.jpg")
        h3 Сяке хато рору
      .slide
        img(src="images/dishes/9.jpg")
        h3 Туна сашими сарада
      .slide
        img(src="images/dishes/10.jpg")
        h3 Фудзи
