section#review
  a(name="review")
  .container
    h2 Ознакомьтесь с отзывами
    h3 наших гостей на сайте TripAdvisor
    ul
      li
        h4: span Отличная казахская Еда!
        p Ужин в отдельной комнате - чудесный опыт, каждое блюдо было просто восхитительным и хорошо обставлен. Определенно вернемся!
      li
        h4: span Просто отличный
        p Отличная атмосфера, красивое место, хорошее оформление. Какое восхитительное место! Extraordinairy дружелюбный и профессиональный персонал и еда была просто восхитительным.
      li
        h4: span Очень хороший ресторан
        p Приятная атмосфера, хорошая еда, живет традиционная музыка. Персонал говорит на английском языке. Очень удобно для бизнеса или для удовольствия.
      li
        h4: span Традиционная и вкусная еда
        p Мы приехали сюда на традиционной еды, а не высокого класса западных тематических ресторанов, и мы не разочарованы.
    h3
      span Больше отзывов на сайте — 
      a(href="http://www.tripadvisor.ru") www.tripadvisor.ru
    .trapvisor
      .reviews
        |<div id="TA_rated612" class="TA_rated">
        |<ul id="PN4Bsqedx" class="TA_links BaLsAYW5tE">
        |<li id="nSSZRXsZqSoz" class="R5w0DaDwCOHz">
        |<a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/badges/ollie-11424-2.gif" alt="TripAdvisor"/></a>
        |</li>
        |</ul>
        |</div>
        |<script src="https://www.jscache.com/wejs?wtype=rated&amp;uniq=612&amp;locationId=6704343&amp;lang=ru&amp;display_version=2"></script>
      .reviews
        |<div id="TA_cdswritereviewnew279" class="TA_cdswritereviewnew">
        |<ul id="5E7Nl0KLiwC" class="TA_links 5BQGJgFR9">
        |<li id="59HVgIeCvb4" class="l71aSLr">
        |<a target="_blank" href="https://www.tripadvisor.ru/"><img src="https://www.tripadvisor.ru/img/cdsi/img2/branding/medium-logo-29834-2.png" alt="TripAdvisor"/></a>
        |</li>
        |</ul>
        |</div>
        |<script src="https://www.jscache.com/wejs?wtype=cdswritereviewnew&amp;uniq=279&amp;locationId=6704343&amp;lang=ru&amp;lang=ru&amp;display_version=2"></script>
