section#stocks
  .container
    h2 Акции
    .sl_stocks
      .slide
        h3 Праздничная акция
        p Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
      .slide
        h3 Праздничная акция
        p Равным образом рамки и место обучения кадров представляет собой интересный эксперимент проверки дальнейших направлений развития. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям.
